<div class="container-flex mb-3 animation-class custom-card mt-4" style="margin-right:10px">
  <div class="" style="min-height: 100px; padding: 20px;margin-left: 11px;margin-right: 12px;">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl mt-1">
        <div class="card mt-2 mt-lg-0">
          <div class="card-block">
            <p class="FracArea mx-1 my-1">
              <span class="dot-even"></span>2HWCA
            </p>
            <p class="FracArea mx-1 my-1">
              Frac Circle Area <span class="Frac"> 282,600 sq ft </span>
            </p>
            <p class="FracArea mx-1 my-1">
              Radius 300<span class="sq"> ft</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl mt-1 ">
        <div class="card mt-2 mt-lg-0">
          <div class="card-block">
            <p class="FracArea mx-1 my-1">
              <span class="dot-even"></span>4HWCA
            </p>
            <p class="FracArea mx-1 my-1">
              Frac Circle Area <span class="Frac"> 282,600 sq ft </span>
            </p>
            <p class="FracArea mx-1 my-1">
              Radius 300<span class="sq"> ft</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl mt-1">
        <div class="card mt-2 mt-lg-0">
          <div class="card-block">
            <p class="FracArea mx-1 my-1">
              <span class="dot-even"></span>6HWCA
            </p>
            <p class="FracArea mx-1 my-1">
              Frac Circle Area <span class="Frac"> 282,600 sq ft </span>
            </p>
            <p class="FracArea mx-1 my-1">
              Radius 300<span class="sq"> ft</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl mt-1">
        <div class="card mt-2 mt-lg-0">
          <div class="card-block">
            <p class="FracArea mx-1 my-1"><span class="dot-odd"></span>3HWCA</p>
            <p class="FracArea mx-1 my-1">
              Frac Circle Area <span class="Frac"> 282,600 sq ft </span>
            </p>
            <p class="FracArea mx-1 my-1">
              Radius 300<span class="sq"> ft</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl mt-1">
        <div class="card mt-2 mt-lg-0">
          <div class="card-block">
            <p class="FracArea mx-1 my-1"><span class="dot-odd"></span>5HWCA</p>
            <p class="FracArea mx-1 my-1">
              Frac Circle Area <span class="Frac"> 282,600 sq ft </span>
            </p>
            <p class="FracArea mx-1 my-1">
              Radius 300<span class="sq"> ft</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl mt-1">
        <div class="card mt-2 mt-lg-0">
          <div class="card-block">
            <p class="FracArea mx-1 my-1"><span class="dot-odd"></span>7HWCA</p>
            <p class="FracArea mx-1 my-1">
              Frac Circle Area <span class="Frac"> 282,600 sq ft </span>
            </p>
            <p class="FracArea mx-1 my-1">
              Radius 300<span class="sq"> ft</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>