
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12 col-md-8">
			<div class="card">
			  <div class="row">
				<h4 class="wine">Frac/drainage ellipses</h4>
				<div class="col-sm-12 col-md-4">
				  <div class="card">
					<p class="Fracp"><i class="fa-solid fa-circle mx-1 fracicon2 "></i>2HWCA</p>
					<p class="FracArea mx-3">Frac Circle Area <span class="Frac"> 282,600sq ft </span>
					</p>
					<p class="FracArea mx-3">Radius <span class="Frac"> 300sq ft </span>
					</p>
				  </div>
				</div>
				<div class="col-sm-12 col-md-4">
				  <div class="card">
					<p class="Fracp"><i class="fa-solid fa-circle mx-1 fracicon4 "></i>4HWCA</p>
					<p class="FracArea mx-3">Frac Circle Area <span class="Frac4"> 282,600sq ft </span>
					</p>
					<p class="FracArea mx-3">Radius <span class="Frac4"> 300sq ft </span>
					</p>
				  </div>
				</div>
				<div class="col-sm-12 col-md-4">
				  <div class="card">
					<p class="Fracp"><i class="fa-solid fa-circle mx-1 fracicon6 "></i>6HWCA</p>
					<p class="FracArea mx-3">Frac Circle Area <span class="Frac6"> 282,600sq ft </span>
					</p>
					<p class="FracArea mx-3">Radius <span class="Frac6"> 300sq ft </span>
					</p>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-12 col-md-4">
				  <div class="card">
					<p class="Fracp"><i class="fa-solid fa-circle mx-1 fracicon3 "></i>3HWCA</p>
					<p class="FracArea mx-3">Frac Circle Area <span class="Frac3"> 282,600sq ft </span>
					</p>
					<p class="FracArea mx-3">Radius <span class="Frac3"> 300sq ft </span>
					</p>
				  </div>
				</div>
				<div class="col-sm-12 col-md-4">
				  <div class="card">
					<p class="Fracp"><i class="fa-solid fa-circle mx-1 fracicon5 "></i>5HWCA</p>
					<p class="FracArea mx-3">Frac Circle Area <span class="Frac5"> 282,600sq ft </span>
					</p>
					<p class="FracArea mx-3">Radius <span class="Frac5"> 300sq ft </span>
					</p>
				  </div>
				</div>
				<div class="col-sm-12 col-md-4">
				  <div class="card">
					<p class="Fracp"><i class="fa-solid fa-circle mx-1 fracicon7 "></i>7HWCA</p>
					<p class="FracArea mx-3">Frac Circle Area <span class="Frac7"> 282,600sq ft </span>
					</p>
					<p class="FracArea mx-3">Radius <span class="Frac7"> 300sq ft </span>
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-12 col-md-4"></div>
		</div>
	  </div>
	</div>
	