<div class="custom-container-lr animation-class">
	<div class="card" style="min-height:100px;padding:20px;">
    <div class="row">
		
        <div class="col-sm-2">
            <div class="card">
                <div class="card-block">           
                    <p class="FracArea mx-1"><span class="dot-even"></span>2HWCA</p>
                    <p class="FracArea mx-1">Frac Circle Area <span class="Frac"> 282,600sq ft </span></p>
					<p class="FracArea mx-1">Radius <span class="Frac radius-dynamic"></span><span class="sq"> sq ft</span></p>
                </div>
            </div>
        </div>
		<div class="col-sm-2">
            <div class="card">
				<div class="card-block">           
                    <p class="FracArea mx-1"><span class="dot-even"></span>4HWCA</p>
                    <p class="FracArea mx-1">Frac Circle Area <span class="Frac"> 282,600sq ft </span></p>
					<p class="FracArea mx-1">Radius <span class="Frac radius-dynamic"></span><span class="sq"> sq ft</span></p>
                </div>
            </div>
        </div>
		<div class="col-sm-2">
            <div class="card">
                <div class="card-block">           
                    <p class="FracArea mx-1"><span class="dot-even"></span>6HWCA</p>
                    <p class="FracArea mx-1">Frac Circle Area <span class="Frac"> 282,600sq ft </span></p>
					<p class="FracArea mx-1">Radius <span class="Frac radius-dynamic"></span><span class="sq"> sq ft</span></p>
                </div>
            </div>
        </div>
		<div class="col-sm-2">
            <div class="card">
				<div class="card-block">           
                    <p class="FracArea mx-1"><span class="dot-odd"></span>3HWCA</p>
                    <p class="FracArea mx-1">Frac Circle Area <span class="Frac"> 282,600sq ft </span></p>
					<p class="FracArea mx-1">Radius <span class="Frac radius-dynamic"></span><span class="sq"> sq ft</span></p>
                </div>
            </div>
        </div>
		<div class="col-sm-2">
            <div class="card">
				<div class="card-block">           
                    <p class="FracArea mx-1"><span class="dot-odd"></span>5HWCA</p>
                    <p class="FracArea mx-1">Frac Circle Area <span class="Frac"> 282,600sq ft </span></p>
					<p class="FracArea mx-1">Radius <span class="Frac radius-dynamic">30</span><span class="sq"> sq ft</span></p>
                </div>
            </div>
        </div>
		<div class="col-sm-2">
            <div class="card">
                 <div class="card-block">           
                    <p class="FracArea mx-1"><span class="dot-odd"></span>7HWCA</p>
                    <p class="FracArea mx-1">Frac Circle Area <span class="Frac"> 282,600sq ft </span></p>
					<p class="FracArea mx-1">Radius <span class="Frac radius-dynamic">30</span><span class="sq"> sq ft</span></p>
                </div>
            </div>
        </div>
	</div>

    </div>
</div>