{% load static %}

<div class="custom-container custom-container-lr mt-1 mb-2 animation-class">
  <div class="row">
    <div class="col-sm">
      <div class="content main-card-reading contentTotal">
        <h6 class="Area mt-3">Total Area</h6>
        <p class="Total">
          <span class="lbl-total-area">0</span><span class="sq"> sq ft</span>
        </p>
        <img src="{% static "images/total-area.png" %}" alt="about-img"
        class="TotalAreaimg img-float ">
      </div>
    </div>
    <div class="col-sm">
      <div class="content main-card-reading contentUntouched">
        <h6 class="Area mt-3">Untouched Area</h6>
        <p class="Untouched">
          <span class="lbl-untouched-area">0</span>
          <span class="sq"> sq ft</span>
        </p>
        <img src="{% static "images/untochedArea.png" %}" alt="about-img"
        class="UntouchedAreaimg img-float ">
      </div>
    </div>
    <div class="col-sm">
      <div class="content main-card-reading contentHit">
        <h6 class="Area mt-3">Hit Area All</h6>
        <p class="Hit">
          <span class="lbl-hit-area">0</span><span class="sq"> sq ft</span>
        </p>
        <img src="{% static "images/hit_venn.png" %}" alt="about-img" class="
        HitAreaimg img-float ">
      </div>
    </div>
    <div class="col-sm">
      <div class="content main-card-reading contentHit">
        <h6 class="Area mt-3">Hit Area Once</h6>
        <p class="Hit">
          <span class="lbl-hit-once">0</span><span class="sq"> sq ft</span>
        </p>
        <img src="{% static "images/hit_venn.png" %}" alt="about-img" class="
        HitAreaimg img-float ">
      </div>
    </div>
    <div class="col-sm">
      <div class="content main-card-reading contentOverlap">
        <h6 class="Area mt-3">Overlap Area</h6>
        <p class="Overlap">
          <span class="lbl-overlap-area">0</span> <span class="sq"> sq ft</span>
        </p>
        <img src="{% static "images/overlap_venn.png" %}" alt="about-img"
        class=" OverlapAreaimg img-float ">
      </div>
    </div>
  </div>
</div>