/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"); */
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #1A4893;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
*,
::before,
::after {
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    background-color: #f7f9fa;
    /* background-color: red; */
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}


#total-orders{
    background-color: #97192b;
}


#orders-delivered{
    background-color: #a33242;
}

#orders-pending{
    background-color: #ae4c5a;
}

.btn-custom-primary{
    background-color: #1A4893;
    color: #fff;
   
}

.btn-custom-primary:hover{
    background-color: #a33242;
    color: #fff;
   
}



.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.admin_welcome{
    display: inline-flex;
    gap: 2;
}
.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 5px;
}
.header_text{
    display: flex;
    justify-content: left;
   
}
.header_img img {
    width: 40px;
}
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}
.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}
.nav_link:hover {
    color: var(--white-color);
}
.nav_icon {
    font-size: 1.25rem;
}
.show {
    left: 0;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}
.active {
    color: var(--white-color);
}
.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
.height-100 {
    height: 100vh;
}

.modal.show {width: 100%;} .modal backdrop { width: 100%!important; }

canvas {
    cursor: pointer;
    border: 1px solid black;
  }
  

  .content{
    background: #fff;
    border-radius: 20px;
    padding: 10px;
  
}

.custom-container{
    padding: 5px 10px 5px 10px; 
    
}
.custom-container-lr{
    padding-top: 5px;
    padding-bottom: 5px;
}
.main-card-reading{
    position: relative;
}

.contentTotal{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(22, 22, 17, 0.05), -7px 0px 0px #FF952D;
    border-radius: 16px;
}
.contentHit{
   
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(22, 22, 17, 0.05), -7px 0px 0px #E94F99;
    border-radius: 16px;
}
.contentOverlap{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(22, 22, 17, 0.05), -7px 0px 0px #2195F2;
    border-radius: 16px;
    
}
.contentUntouched{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(22, 22, 17, 0.05), -7px 0px 0px #6F6AF8;
    border-radius: 16px;
}

.Area{
    font-size: 20px;
    color: #333333;

}
.Total{
    color: #FF952D;
    font-size: 20px;
}
.sq{
    color: #BBBBBB;
}
.TotalAreaimg{
    width: 65px;
   
}

.img-float{
    margin-top: 20px;
    position: absolute;
    top: 15px;
    right:  5px;
}

.HitAreaimg{
    width: 65px;
    margin-top: 20px;
}
.Hit{
    color: #E94F99;
    font-size: 20px;
}
.OverlapAreaimg{
    width: 65px;
    margin-top: 20px;
}
.Overlap{
    color: #2195F2;
    font-size: 20px;
}
.UntouchedAreaimg{
    width: 65px;
    margin-top: 20px;
}
.Untouched{
    color: #6F6AF8;
    font-size: 20px;
}

.WineRackView{
    margin-bottom: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
.wine{
    font-size: 20px;
    color: #333333;
}
.nowells{
    font-size: 14px;
    color: #131313;
    margin-left: 50%;
}
.wineimg{
    width: 400px;
    margin-top:30px;
    margin-left: 70px;
    margin-bottom: 30px;

}

.Fracp{
    font-size: 14px;
    color: #131313;
    margin-bottom: 0px;
 }
 .FracArea{
    font-size: 12px;
    color: #131313;
    margin-bottom: 0px;
 }

 .Frac{
    color: #53989C;
 }
 .Frac4{
    color: #7F83EB;
 }
 .Frac6{
    color: #B14BDA;
 }
 .Frac3{
    color: #2F43AA; 
}
 .Frac5{
    color: #2CA3DA; 
}
 .Frac7{
    color: #FF5C44;
 }

 .circle-wrap {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    background: #F5F5F5;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #756af2;
}

.mask .fill1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #E94F99;
}
.mask .fill2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #6F6AF8;
}

  .ovwelap{
    text-align: center;
    margin-bottom: 35px;
  }
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }

 
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
   
   .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background:white;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    /* color: #1e51dc; */
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    border: 1px solid #cdcbd0;
  }

.fracicon2{
  color: #53989C;
  font-size: 10px;
}
.fracicon4{
  color: #7F83EB;
  font-size: 10px;
}
.fracicon6{
  color: #B14BDA;
  font-size: 10px;
}
.fracicon3{
  color: #2F43AA;
  font-size: 10px;
}
.fracicon5{
  color: #2CA3DA;
  font-size: 10px;
}
.fracicon7{
  color: #FF5C44;
  font-size: 10px;
}


  @media only screen and (min-width: 320px) and (max-width: 767px)  {
    .content {
  
        width: 300px;
    }
    .wineimg {
        width: 200px;
     
    }
    .WineRackView {
      
        width: 350px;
    }
  }

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 40px;
        height: 40px;
    }
    .header_img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 100px);  
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 125px);
    }
}

h1 {
    --s: 0.1em; /* the thickness of the line */
    --c: #2c4bff; /* the color */
  
    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg, var(--c) 50%, #000 0)
        calc(100% - var(--_p, 0%)) / 200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
  }
  h1:hover {
    --_p: 100%;
  }
  
  body {
    height: 100vh;
    margin: 0;
    /* display: grid; */
    place-content: center;
  }
  h1 {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    cursor: pointer;
  }