{% load static %}
<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
    <img src={% static 'images/Logo-Smaller-text-darker-cia.png' %} alt="" />
    <h6> Hello, {{request.user}} </h6>
    <div class="header_img">
      <img src="https://i.imgur.com/hczKIze.jpg" alt="" />
    </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
          <img src=" {% static 'images/logo.png' %}" alt="" />
        </a>
        <div class="nav_list">
          <a href = "{% url 'home' %}" class="nav_link active">
            <i class="bx bx-grid-alt nav_icon"></i>
            <span class="nav_name">Dashboard</span>
          </a>
      
        </div>
      </div>
      <a href="{% url 'logout' %}" class="nav_link">
        <i class="bx bx-log-out nav_icon"></i>
        <span class="nav_name">SignOut</span>
      </a>
    </nav>
  </div>
  <!--Container Main start-->
 
  <!--Container Main end-->
</body>
